li {
     margin-bottom: 2px;
}
.rcube {
   background-color: rgba (0, 0, 0, 0.75);
  margin: 20px;
  padding: 10px;
  min-width: 200px;
  min-height: 200px;

  margin-bottom: 75px;
  box-shadow:  -1px 1px rgba(0, 0, 0, 0.75),
     -2px 2px rgba(20, 20, 20, 0.75),
     -3px 3px rgba(30, 30, 30, 0.75),
     -4px 4px rgba(40, 40, 40, 0.75),
     -5px 5px rgba(50, 50, 50, 0.75),
     -6px 6px rgba(60, 60, 60, 0.75),
     -7px 7px rgba(70, 70, 70, 0.75),
     -8px 8px rgba(80, 80, 80, 0.75),
     -9px 9px rgba(90, 90, 90, 0.75),
     -10px 10px rgba(100, 100, 100, 0.75),
     -11px 11px rgba(110, 110, 110, 0.75),
     -12px 12px rgba(120, 120, 120, 0.75),
     -13px 13px rgba(130, 130, 130, 0.75),
     -14px 14px rgba(140, 140, 140, 0.75),
     -15px 15px rgba(150, 150, 150, 0.75),
     -16px 16px rgba(160, 160, 160, 0.75),
     -17px 17px rgba(170, 170, 170, 0.75),
     -18px 18px rgba(180, 180, 180, 0.75),
     -19px 19px rgba(190, 190, 190, 0.75),
     -20px 20px rgba(200, 200, 200, 0.75),
     -21px 21px rgba(210, 210, 210, 0.75),
     -22px 22px rgba(220, 220, 220, 0.75),
     -23px 23px rgba(230, 230, 230, 0.75),
     -24px 24px rgba(240, 240, 240, 0.75),
     -25px 25px rgba(250, 250, 250, 0.75),
     -26px 26px rgba(255, 255, 255, 0.75),
     -27px 27px rgba(255, 255, 255, 0.75),
     -28px 28px rgba(255, 255, 255, 0.75),
     -29px 29px rgba(255, 255, 255, 0.75),
     -30px 30px rgba(255, 255, 255, 0.75),
     -31px 31px rgba(255, 255, 255, 0.75),
     -32px 32px rgba(255, 255, 255, 0.75),
     -33px 33px rgba(255, 255, 255, 0.75),
     -34px 34px rgba(255, 255, 255, 0.75),
     -35px 35px rgba(255, 255, 255, 0.75),
     -36px 36px rgba(255, 255, 255, 0.75),
     -37px 37px rgba(255, 255, 255, 0.75),
     -38px 38px rgba(255, 255, 255, 0.75),
     -39px 39px rgba(255, 255, 255, 0.75),
     -40px 40px rgba(255, 255, 255, 0.75),
     -41px 41px rgba(255, 255, 255, 0.75),
     -42px 42px rgba(255, 255, 255, 0.75),
     -43px 43px rgba(255, 255, 255, 0.75),
     -44px 44px rgba(255, 255, 255, 0.75),
     -45px 45px rgba(255, 255, 255, 0.75),
     -46px 46px rgba(255, 255, 255, 0.75),
     -47px 47px rgba(255, 255, 255, 0.75),
     -48px 48px rgba(255, 255, 255, 0.75),
     -49px 49px rgba(255, 255, 255, 0.75),
     -50px 50px rgba(255, 255, 255, 0.75),
     -51px 51px rgba(255, 255, 255, 0.75),
     -52px 52px rgba(255, 255, 255, 0.75),
     -53px 53px rgba(255, 255, 255, 0.75),
     -54px 54px rgba(255, 255, 255, 0.75),
     -55px 55px rgba(255, 255, 255, 0.75),
     -56px 56px rgba(255, 255, 255, 0.75),
     -57px 57px rgba(255, 255, 255, 0.75),
     -58px 58px rgba(255, 255, 255, 0.75),
     -59px 59px rgba(255, 255, 255, 0.75),
     -60px 60px rgba(255, 255, 255, 0.75),
     -61px 61px rgba(255, 255, 255, 0.75),
     -62px 62px rgba(255, 255, 255, 0.75),
     -63px 63px rgba(255, 255, 255, 0.75),
     -64px 64px rgba(255, 255, 255, 0.75),
     -65px 65px rgba(255, 255, 255, 0.75),
     -66px 66px rgba(255, 255, 255, 0.75),
     -67px 67px rgba(255, 255, 255, 0.75),
     -68px 68px rgba(255, 255, 255, 0.75),
     -69px 69px rgba(255, 255, 255, 0.75),
     -70px 70px rgba(255, 255, 255, 0.75),
     -71px 71px rgba(255, 255, 255, 0.75),
     -72px 72px rgba(255, 255, 255, 0.75),
     -73px 73px rgba(255, 255, 255, 0.75),
     -74px 74px rgba(255, 255, 255, 0.75),
     -75px 75px rgba(255, 255, 255, 0.75),
     -76px 76px rgba(255, 255, 255, 0.75),
     -77px 77px rgba(255, 255, 255, 0.75),
     -78px 78px rgba(255, 255, 255, 0.75),
     -79px 79px rgba(255, 255, 255, 0.75),
     -80px 80px rgba(255, 255, 255, 0.75),
     -81px 81px rgba(255, 255, 255, 0.75),
     -82px 82px rgba(255, 255, 255, 0.75),
     -83px 83px rgba(255, 255, 255, 0.75),
     -84px 84px rgba(255, 255, 255, 0.75),
     -85px 85px rgba(255, 255, 255, 0.75),
     -86px 86px rgba(255, 255, 255, 0.75),
     -87px 87px rgba(255, 255, 255, 0.75),
     -88px 88px rgba(255, 255, 255, 0.75),
     -89px 89px rgba(255, 255, 255, 0.75),
     -90px 90px rgba(255, 255, 255, 0.75),
     -91px 91px rgba(255, 255, 255, 0.75),
     -92px 92px rgba(255, 255, 255, 0.75),
     -93px 93px rgba(255, 255, 255, 0.75),
     -94px 94px rgba(255, 255, 255, 0.75),
     -95px 95px rgba(255, 255, 255, 0.75),
     -96px 96px rgba(255, 255, 255, 0.75),
     -97px 97px rgba(255, 255, 255, 0.75),
     -98px 98px rgba(255, 255, 255, 0.75),
     -99px 99px rgba(255, 255, 255, 0.75),
     -100px 100px rgba(255, 255, 255, 0.75),
     -101px 101px rgba(255, 255, 255, 0.75),
     -102px 102px rgba(255, 255, 255, 0.75),
     -103px 103px rgba(255, 255, 255, 0.75),
     -104px 104px rgba(255, 255, 255, 0.75),
     -105px 105px rgba(255, 255, 255, 0.75),
     -106px 106px rgba(255, 255, 255, 0.75),
     -107px 107px rgba(255, 255, 255, 0.75),
     -108px 108px rgba(255, 255, 255, 0.75),
     -109px 109px rgba(255, 255, 255, 0.75),
     -110px 110px rgba(255, 255, 255, 0.75),
     -111px 111px rgba(255, 255, 255, 0.75),
     -112px 112px rgba(255, 255, 255, 0.75),
     -113px 113px rgba(255, 255, 255, 0.75),
     -114px 114px rgba(255, 255, 255, 0.75),
     -115px 115px rgba(255, 255, 255, 0.75),
     -116px 116px rgba(255, 255, 255, 0.75),
     -117px 117px rgba(255, 255, 255, 0.75),
     -118px 118px rgba(255, 255, 255, 0.75),
     -119px 119px rgba(0, 0, 0, 0.75);

}


.lcube {
   background-color: rgba (0, 0, 0, 1.0);
  margin: 20px;
  margin-bottom: 75px;
  padding: 10px;
  min-width: 200px;
  min-height: 200px;
  box-shadow:  1px -1px rgb(0, 0, 0),
     2px -2px rgb(8, 8, 8),
     3px -3px rgb(12, 12, 12),
     4px -4px rgb(16, 16, 16),
     5px -5px rgb(20, 20, 20),
     6px -6px rgb(24, 24, 24),
     7px -7px rgb(28, 28, 28),
     8px -8px rgb(32, 32, 32),
     9px -9px rgb(36, 36, 36),
     10px -10px rgb(40, 40, 40),
     11px -11px rgb(44, 44, 44),
     12px -12px rgb(48, 48, 48),
     13px -13px rgb(52, 52, 52),
     14px -14px rgb(56, 56, 56),
     15px -15px rgb(60, 60, 60),
     16px -16px rgb(64, 64, 64),
     17px -17px rgb(68, 68, 68),
     18px -18px rgb(72, 72, 72),
     19px -19px rgb(76, 76, 76),
     20px -20px rgb(80, 80, 80),
     21px -21px rgb(84, 84, 84),
     22px -22px rgb(88, 88, 88),
     23px -23px rgb(92, 92, 92),
     24px -24px rgb(96, 96, 96),
     25px -25px rgb(100, 100, 100),
     26px -26px rgb(104, 104, 104),
     27px -27px rgb(108, 108, 108),
     28px -28px rgb(112, 112, 112),
     29px -29px rgb(116, 116, 116),
     30px -30px rgb(120, 120, 120),
     31px -31px rgb(124, 124, 124),
     32px -32px rgb(128, 128, 128),
     33px -33px rgb(132, 132, 132),
     34px -34px rgb(136, 136, 136),
     35px -35px rgb(140, 140, 140),
     36px -36px rgb(144, 144, 144),
     37px -37px rgb(148, 148, 148),
     38px -38px rgb(152, 152, 152),
     39px -39px rgb(156, 156, 156),
     40px -40px rgb(160, 160, 160),
     41px -41px rgb(164, 164, 164),
     42px -42px rgb(168, 168, 168),
     43px -43px rgb(172, 172, 172),
     44px -44px rgb(176, 176, 176),
     45px -45px rgb(180, 180, 180),
     46px -46px rgb(184, 184, 184),
     47px -47px rgb(188, 188, 188),
     48px -48px rgb(192, 192, 192),
     49px -49px rgb(196, 196, 196),
     50px -50px rgb(200, 200, 200),
     51px -51px rgb(204, 204, 204),
     52px -52px rgb(208, 208, 208),
     53px -53px rgb(212, 212, 212),
     54px -54px rgb(216, 216, 216),
     55px -55px rgb(220, 220, 220),
     56px -56px rgb(224, 224, 224),
     57px -57px rgb(228, 228, 228),
     58px -58px rgb(232, 232, 232),
     59px -59px rgb(0, 0, 0);

}

  .cube {
   background-color: rgba (255, 255, 255, 1.0);
  margin: 20px;
  margin-bottom: 75px;
  padding: 10px;
  min-width: 200px;
  min-height: 200px;

  box-shadow:  -1px -1px rgb(0, 0, 0),
     -2px -2px rgb(247, 247, 247),
     -3px -3px rgb(243, 243, 243),
     -4px -4px rgb(239, 239, 239),
     -5px -5px rgb(235, 235, 235),
     -6px -6px rgb(231, 231, 231),
     -7px -7px rgb(227, 227, 227),
     -8px -8px rgb(223, 223, 223),
     -9px -9px rgb(219, 219, 219),
     -10px -10px rgb(215, 215, 215),
     -11px -11px rgb(211, 211, 211),
     -12px -12px rgb(207, 207, 207),
     -13px -13px rgb(203, 203, 203),
     -14px -14px rgb(199, 199, 199),
     -15px -15px rgb(195, 195, 195),
     -16px -16px rgb(191, 191, 191),
     -17px -17px rgb(187, 187, 187),
     -18px -18px rgb(183, 183, 183),
     -19px -19px rgb(179, 179, 179),
     -20px -20px rgb(175, 175, 175),
     -21px -21px rgb(171, 171, 171),
     -22px -22px rgb(167, 167, 167),
     -23px -23px rgb(163, 163, 163),
     -24px -24px rgb(159, 159, 159),
     -25px -25px rgb(155, 155, 155),
     -26px -26px rgb(151, 151, 151),
     -27px -27px rgb(147, 147, 147),
     -28px -28px rgb(143, 143, 143),
     -29px -29px rgb(139, 139, 139),
     -30px -30px rgb(135, 135, 135),
     -31px -31px rgb(131, 131, 131),
     -32px -32px rgb(127, 127, 127),
     -33px -33px rgb(123, 123, 123),
     -34px -34px rgb(119, 119, 119),
     -35px -35px rgb(115, 115, 115),
     -36px -36px rgb(111, 111, 111),
     -37px -37px rgb(107, 107, 107),
     -38px -38px rgb(103, 103, 103),
     -39px -39px rgb(99, 99, 99),
     -40px -40px rgb(95, 95, 95),
     -41px -41px rgb(91, 91, 91),
     -42px -42px rgb(87, 87, 87),
     -43px -43px rgb(83, 83, 83),
     -44px -44px rgb(79, 79, 79),
     -45px -45px rgb(75, 75, 75),
     -46px -46px rgb(71, 71, 71),
     -47px -47px rgb(67, 67, 67),
     -48px -48px rgb(63, 63, 63),
     -49px -49px rgb(59, 59, 59),
     -50px -50px rgb(55, 55, 55),
     -51px -51px rgb(51, 51, 51),
     -52px -52px rgb(47, 47, 47),
     -53px -53px rgb(43, 43, 43),
     -54px -54px rgb(39, 39, 39),
     -55px -55px rgb(35, 35, 35),
     -56px -56px rgb(31, 31, 31),
     -57px -57px rgb(27, 27, 27),
     -58px -58px rgb(23, 23, 23),
     -59px -59px rgb(0, 0, 0);

}